@mixin heading {
    position: absolute;
    width: 149px;
    height: 60px;
    left: 182px;
    top: 150px;
    font-family: $heading;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: $secondary-font-color;
    display: flex;
    align-items: center;
    text-align: center;
}
@mixin h1 {
    color: #040404;
    font-size: 48px;
    font-family: $title;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    display: flex;
    align-items: center;
    line-height: 59px;
    position: absolute;
    width: 319px;
    height: 22px;
    left: 130px;
    top: 210px;
    margin: 0;
    padding: 0;
}
@mixin p {
    color: $primary-font-color;
    position: absolute;
    width: 436px;
    height: 85px;
    left: 39px;
    top: 296px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
}
@mixin restaurant {
    position: absolute;
    width: 435px;
    height: 315px;
    left: 550px;
    top: 145px;
    border-radius: 14px;
}
@mixin about {
    position: absolute;
    width: 67px;
    height: 16px;
    left: 223px;
    top: 415px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: $secondary-font-color;   
}
@mixin brand {
    position: absolute;
    width: 149px;
    height: 34px;
    left: 39px;
    top: 8px;
    font-family: $title;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
}
@mixin nav {   
    font-family: $title;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    align-items: center;
}